body {
    background-image: url(images/nathan-dumlao-zUNs99PGDg0-unsplash.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: center;

}
h1{
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
}
h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    color: antiquewhite;
}